<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e38ce1">  <td>22/05/20 12:29:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MobileInstance.close()[pri:0, instance:tests.BudgetLoginFeature@69f1a286]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2048013503</td>   <td></td> </tr>
<tr bgcolor="6dbea0">  <td>22/05/20 12:29:07</td>   <td>-33474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BudgetLoginFeature.login()[pri:1, instance:tests.BudgetLoginFeature@69f1a286]">login</td> 
  <td>main@2048013503</td>   <td></td> </tr>
<tr bgcolor="e38ce1">  <td>22/05/20 12:28:50</td>   <td>-50772</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MobileInstance.setUp()[pri:0, instance:tests.BudgetLoginFeature@69f1a286]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2048013503</td>   <td></td> </tr>
</table>
