<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6dbea0">  <td>22/04/21 19:21:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MobileInstance.setUp()[pri:0, instance:tests.AccountFeature@38604b81]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690713209</td>   <td></td> </tr>
<tr bgcolor="6dbea0">  <td>22/04/21 19:22:10</td>   <td>49113</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MobileInstance.close()[pri:0, instance:tests.AccountFeature@38604b81]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690713209</td>   <td></td> </tr>
<tr bgcolor="6dbea0">  <td>22/04/21 19:20:52</td>   <td>-29173</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MobileInstance.setUp()[pri:0, instance:tests.LoginFeature@7d9e8ef7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690713209</td>   <td></td> </tr>
<tr bgcolor="a9c063">  <td>22/04/21 19:21:35</td>   <td>13692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountFeature.personalInfo()[pri:1, instance:tests.AccountFeature@38604b81]">personalInfo</td> 
  <td>main@1690713209</td>   <td></td> </tr>
<tr bgcolor="8680bd">  <td>22/04/21 19:21:06</td>   <td>-14703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginFeature.login()[pri:1, instance:tests.LoginFeature@7d9e8ef7]">login</td> 
  <td>main@1690713209</td>   <td></td> </tr>
<tr bgcolor="6dbea0">  <td>22/04/21 19:21:20</td>   <td>-966</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MobileInstance.close()[pri:0, instance:tests.LoginFeature@7d9e8ef7]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690713209</td>   <td></td> </tr>
</table>
