<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6dbea0">  <td>22/05/18 00:28:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BudgetWithoutLoginFeature.Withoutlogin()[pri:1, instance:tests.BudgetWithoutLoginFeature@69f1a286]">Withoutlogin</td> 
  <td>main@2048013503</td>   <td></td> </tr>
<tr bgcolor="e38ce1">  <td>22/05/18 00:27:57</td>   <td>-15425</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MobileInstance.setUp()[pri:0, instance:tests.BudgetWithoutLoginFeature@69f1a286]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2048013503</td>   <td></td> </tr>
<tr bgcolor="e38ce1">  <td>22/05/18 00:28:51</td>   <td>38076</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MobileInstance.close()[pri:0, instance:tests.BudgetWithoutLoginFeature@69f1a286]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2048013503</td>   <td></td> </tr>
</table>
